<div class=" offset-6 col-6">

	<form action="{{path('list_posts')}}" method="post">
		<div class="row">
			<div class="col-8">
				<input placeholder="Rechercher..." type="search" name="search" id="search" class="form-control">
			</div>
			<div class="col-4">
				<button type="submit" class="btn btn-secondary">
                <i class="fas fa-search"></i>
                Rechercher</button>
			</div>
		</div>
	</form>
</div>
